<nav class="navbar">
    <ul class="list-unstyled">
        <li [routerLink]="['']">Home</li>
        <li [routerLink]="['/renters']">Renters</li>
        <li [routerLink]="['/apartments']">Apartments</li>
        <li [routerLink]="['/houses']">Houses</li>
        <li [routerLink]="['/lease-contracts']">Lease Contracts</li>
        <li [routerLink]="['/open-positions']">Open Positions</li>
        <li [routerLink]="['/operating-cost-statement']">Operating Cost Statements</li>
        <li [routerLink]="['/statement-of-bank-account']">Statement of Bank Account</li>
    </ul>
</nav>