<h1>New Apartment</h1>

<form id="rInput" (ngSubmit)="saveApartment()">
    <div class="row mb-3">
        <label for="maxRenter" class="form-label col-sm-2 col-form-label">Maximum of Renters</label>
        <input type="number" class="form-contol col-sm-10" id="maxRenter" placeholder="maxRenter">
    </div>
    <div class="row mb-3">
        <label for="size" class="form-label col-sm-2 col-form-label">Size (in m<sup>2</sup>)</label>
        <input type="number" class="form-contol col-sm-10" id="size" placeholder="size">
    </div>
    <div class="row mb-3">
        <label for="apartmentNumber" class="form-label col-sm-2 col-form-label">Apartment Number</label>
        <input type="number" class="form-contol col-sm-10" id="apartmentNumber" placeholder="apartmentNumber">
    </div>
    <div class="row mb-3">
        <label for="numberRooms" class="form-label col-sm-2 col-form-label">Number of Rooms</label>
        <input type="number" class="form-contol col-sm-10" id="numberRooms" placeholder="numberRooms">
    </div>
    <div class="row mb-3">
        <label for="securityDeposit" class="form-label col-sm-2 col-form-label">Security Deposit (in €)</label>
        <input type="number" class="form-contol col-sm-10" id="securityDeposit" placeholder="securityDeposit">
    </div>
    <div class="row mb-3">
        <label for="houseNumber" class="form-label col-sm-2 col-form-label">House Number</label>
        <input type="number" class="form-contol col-sm-10" id="houseNumber" placeholder="houseNumber">
    </div>
    <button type="submit" class="btn btn-primary">save</button>
</form>
