<h1>New Renter</h1>
<form id="rInput" (ngSubmit)="saveRenter()">
    <div class="row mb-3">
        <label for="rFirstname" class="form-label col-sm-2 col-form-label">Firstname</label>
        <input type="text" class="form-contol col-sm-10" id="rFirstname" placeholder="firstname">
    </div>
    <div class="row mb-3">
        <label for="rLastname" class="form-label col-sm-2 col-form-label">Lastname</label>
        <input type="text" class="form-contol col-sm-10" id="rLastname" placeholder="lastname">
    </div>
    <div class="row mb-3">
        <label for="rGender" class="form-label col-sm-2 col-form-label">Gender</label>
        <input type="text" class="form-contol col-sm-10" id="rGender" placeholder="gender">
    </div>
    <button type="submit" class="btn btn-primary">save</button>
</form>