<h1>Apartment Number: {{apartment.apartmentNumber}}</h1>

<form id="input" (ngSubmit)="saveApartment()">
    <div class="row mb-3">
        <label for="apartmentId" class="form-label col-sm-2 col-form-label">Apartment ID</label>
        <input type="number" class="form-contol col-sm-10" id="apartmentId" value="{{ apartment.apartmentId }}" disabled>
    </div>
    <div class="row mb-3">
        <label for="maxRenter" class="form-label col-sm-2 col-form-label">Maximum of Renters</label>
        <input type="number" class="form-contol col-sm-10" id="maxRenter" value="{{ apartment.maxRenter }}">
    </div>
    <div class="row mb-3">
        <label for="size" class="form-label col-sm-2 col-form-label">Size (in m<sup>2</sup>)</label>
        <input type="number" class="form-contol col-sm-10" id="size" value="{{ apartment.size }}">
    </div>
    <div class="row mb-3">
        <label for="apartmentNumber" class="form-label col-sm-2 col-form-label">Apartment Number</label>
        <input type="number" class="form-contol col-sm-10" id="apartmentNumber" value="{{ apartment.apartmentNumber }}">
    </div>
    <div class="row mb-3">
        <label for="numberRooms" class="form-label col-sm-2 col-form-label">Number of Rooms</label>
        <input type="number" class="form-contol col-sm-10" id="numberRooms" value="{{ apartment.numberRooms }}">
    </div>
    <div class="row mb-3">
        <label for="securityDeposit" class="form-label col-sm-2 col-form-label">Security Deposit (in €)</label>
        <input type="number" class="form-contol col-sm-10" id="securityDeposit" value="{{ apartment.securityDeposit }}">
    </div>
    <div class="row mb-3">
        <label for="houseNumber" class="form-label col-sm-2 col-form-label">House Number</label>
        <input type="number" class="form-contol col-sm-10" id="houseNumber" value="{{ apartment.houseNumber }}">
    </div>
    <div class="row mb-3">
        <label for="street" class="form-label col-sm-2 col-form-label">Street</label>
        <input type="text" class="form-contol col-sm-10" id="street" value="{{ apartment.street }}" disabled>
    </div>   
    <div class="row mb-3">
        <label for="postcode" class="form-label col-sm-2 col-form-label">Postcode</label>
        <input type="number" class="form-contol col-sm-10" id="postcode" value="{{ apartment.postcode }}" disabled>
    </div>
    <div class="row mb-3">
        <label for="city" class="form-label col-sm-2 col-form-label">City</label>
        <input type="text" class="form-contol col-sm-10" id="city" value="{{ apartment.city }}" disabled>
    </div>
    <button type="submit" class="btn btn-primary">save</button>
    <button type="button" class="btn btn-danger" (click)="deleteApartment()">delete</button>
</form>
